---
import { AUTHOR } from '@src/config';

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<p
	class={`p-author h-card text-gray-600 dark:text-gray-400 font-medium ${className}`}
>
	By
	<a
		rel='author'
		href='/'
		class='u-url text-blue-600 dark:text-blue-400 hover:underline font-semibold'
	>
		{AUTHOR}
	</a>
</p>
