---
import FormattedDate from '@components/partials/FormattedDate.astro';
import ReadingTime from '@components/partials/ReadingTime.astro';
import PostTags from '@components/partials/PostTags.astro';

const { title, tags, date, slug, body } = Astro.props;
---

<article
	class='flex flex-col rounded-xl transition-transform transition-colors transition-shadow duration-550 ease-in-out hover:z-30 hover:shadow-lg md:shadow-xl md:hover:shadow-2xl md:hover:-translate-y-0.5 p-3 dark:bg-darkslategray bg-white'
>
	<div class='flex gap-x-3 mb-1'>
		<FormattedDate date={date} />
		<ReadingTime class='opacity-65' body={body} />
	</div>

	<h2 class='font-bold mb-3'>
		<a class='w-fit line-clamp-2' href={'/blog/' + slug}>
			{title}
		</a>
	</h2>

	<PostTags tags={tags} />
</article>
