---
interface Props {
	href?: string;
	text: string;
	class?: string;
}

const { href, text, class: className } = Astro.props;
---

<a
	class:list={[
		'no-underline inline-block normal-case border-gray-600 border-dotted border-2 rounded-md py-1 px-2 transition-colors ease-in-out hover:bg-gray-300 hover:border-gray-300 focus:bg-gray-300 focus:border:gray-300 dark:hover:bg-gray-600 dark:hover:border-gray-600 dark:focus:bg-gray-600 dark:focus:border-gray-600 group',
		className,
	]}
	href={href}
>
	{text}
	<slot />
</a>
